@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  --color-primary-bg: linear-gradient(to bottom right, #242424, #0e0e0e);
  --color-primary-txt: #f5f5f5;
  --color-primary-accent: #ff88ee;
  --color-secondary-accent: #88ffba;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: var(--color-primary-bg);
  color: var(--color-primary-txt);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: initial;
}

code {
  font-family: 'Roboto Mono', monospace;
}

input {
  font: inherit;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .option-content {
  background: #d2edf8;
  color: #000;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    ". title ."
    ". question .";
  padding: 2rem;
}

.welcome-header {
  grid-area: title;
}

.subtitle {
  text-align: center;
}

.welcome-text {
  text-align: center;
  align-self: end;
  width: 60vw;
  margin-bottom: 1rem;
}

.welcome-text span {
  color: var(--color-secondary-accent);
}

.start-btn {
  grid-area: question;
  place-self: center;
  grid-column-start: 2;
  margin-top: 0;
  margin-top: 4rem;
}

.title {
  grid-area: title;
  font-size: 2rem;
  text-align: center;
  opacity: 0.2;
}

.question-box {
  grid-area: question;
  padding: 1rem;
  margin-top: 1.8rem;
  align-self: start;
}

.question {
  margin-bottom: 2rem;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.option {
  list-style: none;
  margin-bottom: 0.8rem;
}

.option-content {
  font-size: 1.4rem;
  display: block;
  padding: 1rem 1.4rem;
  border-radius: 8px;
  transition: background 320ms;
  cursor: pointer;
}
.option-content:hover {
  background: #000;
}

.nav-buttons {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 1.8rem 2.8rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  border: none;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  transition: background 320ms;
  outline: none;
  display: block;
  text-align: center;
}
.btn:hover {
  background: rgb(200, 233, 173);
}

.next-btn {
  margin-top: 1.8rem;
}

.result-container {
  grid-column-start: 2;
  grid-row-start: 2;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  text-align: center;
  margin-bottom: 2rem;
}