{% extends 'base.html' %}

{% block body %}
<div class="q-container">
  <h1 class="title title--question">SoP's Python Quiz</h1>
  <div class="question-box">
    <h1 class="question">{{ q.question|safe }}</h1>
    <form action="{{ url_for('eval_choice') }}" method="POST">
      <ol class="options">
        {% for option in q.options %}
        <li class="option">
          <input type="radio" name="option" id="{{ loop.index }}" value="{{ option }}">
          <label class="option-content" for="{{ loop.index }}" style="font-family: {{ q.option_font_type }};">{{ option|safe }}</label>
        </li>
        {% endfor %}
      </ol>
      <div class="nav-buttons">
        <input class="btn next-btn" type="submit" value="{{ button_text }}">
      </div>
    </form>
  </div>
</div>
{% endblock body %}
